@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root{
    --bgColor: #708D81;
    --textPrimary: #F4D58D;
    --textSecondary: #BF0603;
    --accentColor:  #001427;


}
body{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--accentColor);
    color: var(--textPrimary);
}
h1{
    color: var(--textPrimary);
}
h1 svg{
    width: 40px;
    fill: var(--textPrimary);
}

#quickSettings{
    margin-top: 20vh;
}

select{
    min-inline-size: 10ch;
    justify-content: space-between;

    &, &::picker(select) {
        appearance: base-select;
        border-radius: 0.8rem;
        background-color: var(--accentColor);
        color: var(--textPrimary);
    }

    &::picker(select) {
        margin-block-start: 0.5rem;
        
    }

    &::picker-icon {
        display: none;
    }

    .picker{
        transition: rotate 0.3s ease;

        :open & {
            rotate: 90deg;
        }
    }
}

option{
    gap: 1.5rem;
    align-items: center;
}

option::checkmark {
    display: none;
}


#gameContainer{
    margin-top: 5vh;
    font-size: large;
}

div#game{
    line-height: 3vh;
    height: 9vh;
    overflow: hidden;
    position: relative;
}

div#game:focus{
    outline: 0;
}

#words{
    filter: blur(5px);
    color: var(--bgColor);
}

#game:focus #words{
    filter: blur(0);
}

#focus-error{
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#game:focus #focus-error{
    display: none;
}

div.word{
    display: inline-block;
    margin: 0 0.5em;
}

.letter.correct{
    color: var(--textPrimary);
}

.letter.incorrect{
    color: var(--textSecondary);
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background-color: var(--textPrimary);
    position: absolute;
    top: 115px;
    left: 310px;
    animation: blink .7s infinite;
}

#game:focus #cursor{
    display: block;
}

#game.over #words{
    opacity: .5;
    filter: blur(0px);
}

#game.over:focus #cursor {
    display: none;
}

#game.over #focus-error{
    display: none;
}

#instructions{
    padding: 2rem;
    font-size: small;
}

mark{
    background-color: grey;
}

.icon-link{
    color: var(--textPrimary);
    text-decoration: underline;
}

.icon-link:hover{
    color: var(--bgColor);
}